<p>
  first works!
</p>

<hr>
<h1 style="color:#253535">First Component</h1>
<div style="text-align:center">
  <div>
    <table>
      <tr>
        <td>
          Size is :
        </td>
        <td>
          {{ size }}
        </td>
      </tr>
      <tr>
        <td>
          Square is:
        </td>
        <td>
          {{square}}
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          <a [routerLink]="['second']">go to second component</a>
        </td>
      </tr>
    </table>
  </div>
  <hr>
